/FssExample/bin/
/FssExample/obj/
/FssLoginExample/bin/
/FssLoginExample/obj/
/FssTest/bin/
/FssTest/obj/
/Fss-MsSql/bin/
/Fss-MsSql/obj/
/Fss-MySql/bin/
/Fss-MySql/obj/
/fss-postgres/bin/
/fss-postgres/obj/
/fss/bin/
/fss/obj/
/Playground/bin
/Playground/obj/
/.gitignore~
/packages/Npgsql*
/packages/NUnit*
/packages/Newtonsoft.Json*
/packages/Mono.Security*
/packages/MySql.Data*
*.suo
/fss/*.swp
*.nuspec~
