source https://nuget.org/api/v2

nuget FSharp.Core >= 4.6.0 redirects: force
nuget Newtonsoft.Json
nuget NuGet.CommandLine
nuget System.Data.SQLite

// [ FAKE GROUP ]
group NetcoreBuild
    source https://api.nuget.org/v3/index.json

    nuget Fake.Core.Target prerelease

group Build
  source https://nuget.org/api/v2
  
  nuget Fake.DotNet.AssemblyInfoFile
  nuget Fake.DotNet.MSBuild
  nuget Fake.Core.Target
  nuget FAKE prerelease
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

  nuget Mono.Security
  nuget MySql.Data
  nuget System.Data.SQLite
  nuget Newtonsoft.Json
  nuget Npgsql

group Test
  source https://nuget.org/api/v2
  
  nuget Npgsql
  nuget MySql.Data
  nuget System.Data.SQLite

  nuget NUnit ~> 3
  nuget NUnit.ConsoleRunner ~> 3
  nuget Microsoft.NET.Test.Sdk
  nuget NUnit3TestAdapter
