version 5.206.0

// [ FAKE GROUP ]
group Build
  storage none
  source https://api.nuget.org/v3/index.json
  nuget Fake.DotNet.Cli
  nuget Fake.DotNet.Paket
  nuget Fake.IO.FileSystem
  nuget Fake.Core.Target
  nuget Fake.Core.ReleaseNotes

  nuget Fake.DotNet.AssemblyInfoFile
  nuget Fake.DotNet.MSBuild
  nuget FAKE prerelease
  nuget FSharp.Formatting
  nuget Newtonsoft.Json
  nuget System.Data.SQLite

  github fsharp/FAKE modules/Octokit/Octokit.fsx

  #nuget Mono.Security
  nuget MySql.Data
  nuget Npgsql

group Test
  source https://api.nuget.org/v3/index.json
  
  nuget Npgsql
  nuget MySql.Data
  nuget System.Data.SQLite

  nuget NUnit ~> 3
  nuget NUnit.ConsoleRunner ~> 3
  nuget Microsoft.NET.Test.Sdk
  nuget NUnit3TestAdapter
